name: Docker Image CI

on:
  push:
    branches: ['main']

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - env:
          IMAGE_ID: ghcr.io/${{ github.repository }}

      - name: Build the Docker image
        run: docker build . -t ${IMAGE_ID}

      - name: Push the Docker image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
          docker push ${IMAGE_ID}

